* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

@import "grilla.less";
@import "flex.less";

.shadow {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.soft_shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.transition {
    transition: all 0.2s;
}

.transition-fast {
    transition: all 0.1s;
}

html {
    scroll-behavior: smooth;

    font-size: 25px;
    // @media only screen and (max-width: 600px) {
    //  ...
    // }

    // @media only screen and (min-width: 600px) {
    //     ...
    // }

    // @media only screen and (min-width: 768px) {
    //     ...
    // }

    // @media only screen and (min-width: 992px) {
    //     ...
    // }

    @media only screen and (min-width: 1200px) {
        font-size: 40px;
    }

    a {
        text-decoration: none;
    }

    ul {
        li {
            list-style-type: none;
        }
    }

    body {
        background-image: url("../img/vectores-02.png");
        // background-color: #4b84ff;
        // background-color: hsl(0, 5%, 95%);
        background-color: ivory;
        font-size: 16px;
        font-family: 'Muli', sans-serif;
        font-weight: 200;

        color: white;

        nav#Navegacion {
            position: fixed;
            top: 0;
            height: 1rem;
            width: 100%;

            ul {
                filter: opacity(30%);
                .transition;

                li {
                    a {
                        .flex;
                        .justify-center;
                        .align-center;

                        height: 1rem;
                        color: black;
                    }
                }

                &:hover {
                    filter: opacity(100%);
                }
            }
        }

        header#Portada {
            height: 100vh;
            padding: 1rem;

            .contenedor {
                background-color: rgba(15, 70, 255, 0.7);
                .soft_shadow;

                border-radius: 1rem;
                border-bottom-right-radius: 5rem;
                height: 100%;

                h1 {
                    // flex-grow: 1;

                    img {
                        max-width: 100%;
                        max-height: 50vh;
                    }
                }

                // .presentacion {
                // flex-grow: 6;

                p {
                    padding: 1rem;
                    font-weight: 200;
                    font-size: 0.65rem;
                    text-align: center;
                }

                ul {
                    li {
                        a {
                            .flex;
                            .row;
                            .justify-evenly;
                            .align-center;

                            color: white;
                            font-weight: 700;

                            padding: 15px;
                            border-radius: 25px;
                            background-color: rgba(15, 255, 0, 0.7);
                        }
                    }
                }
            }
        }

        article#SocialMedia {
            height: 3rem;
            margin-top: 25px;
            // background-color: orange;
            background-color: #bdccff;

            .texto {
                flex: 7;
                font-size: 0.5rem;
                text-align: center;

                h2 {
                    font-size: 0.5rem;
                }
            }

            ul {
                flex: 6;

                li {
                    a {
                        display: inline-block;
                        color: white;
                        width: 35px;
                        height: 35px;
                        padding: 10px;

                        border-radius: 25px;

                        background-color: #546aaf;

                        .flex;
                        .justify-center;
                        .align-center;
                    }
                }
            }
        }

        main {
            section {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;

                min-height: 100vh;

                &#Crew {
                    header {
                        background-color: rgba(80, 80, 80, 0.7);
                        padding: 1.5rem;

                        text-align: center;
                    }

                    article {
                        height: 16vh;
                        // background-color: rgba(15, 70, 255, 0.7);
                        border-radius: 0.3rem;

                        padding: 15px;
                        margin: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .soft_shadow;

                        img {
                            height: 90px;
                            width: 90px;

                            border-radius: 0.3rem;
                            border-bottom-left-radius: 1.5rem;

                            .shadow;
                        }

                        &:nth-child(n) {
                            border-bottom-right-radius: 2rem;
                            border-bottom-left-radius: 2rem;

                            h3,
                            p {
                                text-align: left;
                            }

                        }

                        &:nth-child(1) {
                            background-color: hsla(0, 100%, 53%, 0.7);
                        }

                        &:nth-child(3) {
                            background-color: hsla(20, 100%, 53%, 0.7);
                        }

                        &:nth-child(5) {
                            background-color: hsla(40, 100%, 53%, 0.7);
                        }

                        &:nth-child(7) {
                            background-color: hsla(60, 100%, 53%, 0.7);
                        }

                        &:nth-child(9) {
                            background-color: hsla(80, 100%, 53%, 0.7);
                        }

                        &:nth-child(11) {
                            background-color: hsla(100, 100%, 53%, 0.7);
                        }

                        &:hover:nth-child(2n+1) {
                            filter: contrast(55%);
                            .transition-fast;

                        }

                        &:hover {
                            cursor: pointer;
                        }

                        .descripcion {
                            margin-left: 15px;

                            padding: 15px;

                            height: 100%;
                            width: 100%;

                            background-color: rgba(0, 0, 0, 0.1);
                            border-radius: 0.3rem;
                            border-bottom-right-radius: 1.5rem;

                            h3 {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        footer {
            #Links {
                background-color: rgb(60, 60, 60);

                ul {
                    padding: 1rem;

                    li a {
                        color: white;
                    }
                }
            }

            #Colaboradores {
                background-color: rgb(50, 50, 50);

                ul li p {
                    .flex;
                    .justify-center;
                    .align-center;
                    height: 100px;
                }
            }

            #Outro {
                background-color: rgb(40, 40, 40);
                font-size: 0.7em;
                text-align: center;

                p {
                    margin: 0 1rem;
                }
            }
        }
    }
}